<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<title>hive</title>
</head>
<body>
	<div id="title" class="center">
		<h1>welcome to the hive,</h1>
		<h1>{{ address }}.</h1>
	</div>

	<div id="message" class="center">
		<p>{{ message }}</p>
	</div>

	<div class="center">
		<p>your balance:</p>
		<p>{{ balance }}</p>
	</div>

	<div class="center">
		<p>new transaction:</p>
		<form method="post" action="/add_transaction">
			<input type="hidden" name="sender" value={{ address }}><br>
			<input type="text" name="recipient" placeholder="recipient"><br>
			<input type="number" name="amount" placeholder="amount"><br>
			<input type="submit" placeholder="submit">
		</form>
	</div>

	<div class="center">
		<p>mine a block:</p>
		<form method="get" action="/mine_pow">
			<input type="submit" name="mine_pow" value="mine block (proof of work)">
		</form>

		<form method="get" action="/mine_pos">
			<input type="submit" name="mine_pos" value="mine block (proof of stake)">
		</form>

		<form method="post" action="/mine_pos_v2">
			<input type="number" name="stake" placeholder="stake"><br>
			<input type="submit" name="mine_pos_v2" value="mine block (proof of stake v2)">
		</form>
	</div>

	<div class="center">
		<p>add a new node:</p>
		<form method="post" action="/register_new_peer">
			<input type="text" name="address" placeholder="address"><br>
			<input type="submit" name="register_new_peer" value="register">
		</form>
	</div>

	<div id="blockchain" class="center">
		<p>hive activity</p>
		<form method="get" action="/consensus">
			<input type="submit" name="update" value="update">
		</form>
		<table style="width:100%">
			<tr>
				<th>block</th>
				<th>previous hash</th>
				<th>sender</th>
				<th>recipient</th>
				<th>amount</th>
				<th>validator</th>
				<th>stake</th>
				<th>timestamp</th>
			</tr>
			{% for transaction in transactions %}
			<tr>
				<td>{{ transaction.block_index }}</td>
				<td>{{ transaction.previous_hash }}</td>
				<td>{{ transaction.sender }}</td>
				<td>{{ transaction.recipient }}</td>
				<td>{{ transaction.amount }}</td>
				<td>{{ transaction.validator }}</td>
				<td>{{ transaction.stake }}</td>
				<td>{{ transaction.timestamp }}</td>
			{% endfor %}
		</table>
	</div>

</body>

<script src="/static/javascript/index.js"></script>

</html>
