<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<title>hive</title>
</head>
<body>
	<h1>welcome to the hive.</h1>
	<b>make a new transaction:</b>
	<form method="post" action="/new_transaction">
		<input type="text" name="recipient" placeholder="recipient"><br>
		<input type="number" name="amount" placeholder="amount"><br>
		<input type="submit" placeholder="submit">
	</form>
	<b>mine block using PoW:</b>
	<form method="get" action="/mine_pow">
		<input type="submit" name="mine_pow" placeholder="mine">
	</form>
	<b>mine block using PoS:</b>
	<form method="get" action="/mine_pos">
		<input type="submit" name="mine_pos" placeholder="mine">
	</form>
	<b>display blockchain:</b>
	<form method="get" action="/get_chain">
		<input type="submit" name="get_chain" placeholder="see the hive">
	</form>

	<b>add a new node:</b>
	<form method="post" action="/register_new_peer">
		<input type="text" name="address" placeholder="address"><br>
		<input type="submit" placeholder="submit">
	</form>


</body>

<script src="/static/javascript/index.js"></script>

</html>
