<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<title>hive</title>
</head>

<body>
	<div id="title" class="center">
		<h1>welcome to the hive,</h1>
		<h1>{{ address }}.</h1>
	</div>

	<div id="message" class="center">
		<p>{{ message }}</p>
	</div>

	<div id="balance" class="center">
		<p>your balance:</p>
		<p>{{ balance }}</p>
	</div>

	<div class="row">

		<div class="column_half">
			<div id="peers" class="center">
				<p>your peers</p>
				<table style="width:100%">
					{% for peer in peers %}
					<tr>
						<td>{{ peer }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="column_half">
			<div id="stakes" class="center">
				<p>your stakes</p>
				<table style="width:100%">
					<tr>
						<th>amount</th>
						<th>block #</th>
					</tr>
					{% for stake in stakes %}
					<tr>
						<td>{{ stake.amount }}</td>
						<td>{{ stake.index }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="column_third">
			<div class="center">
				<p>new transaction:</p>
				<form method="post" action="/add_transaction">
					<input type="hidden" name="sender" value={{ address }}><br>
					<input type="text" name="recipient" placeholder="recipient"><br>
					<input type="number" name="amount" placeholder="amount"><br>
					<input type="submit" placeholder="submit">
				</form>
			</div>
		</div>

		<div class="column_third">
			<div class="center">
				<p>mine a block:</p>
				<form method="post" action="/mine_block">
					<input type="hidden" name="proof_type" value="PoW"><br>
					<input type="hidden" name="stake" value=0><br>
					<input type="submit" name="mine_block" value="mine block (proof of work)">
				</form>

				<form method="post" action="/mine_block">
					<input type="hidden" name="proof_type" value="PoS"><br>
					<input type="number" name="stake" placeholder="stake"><br>
					<input type="submit" name="mine_pos" value="mine block (proof of stake)">
				</form>

				<form method="post" action="/mine_block">
					<input type="hidden" name="proof_type" value="PoS2"><br>
					<input type="number" name="stake" placeholder="stake"><br>
					<input type="submit" name="mine_pos_v2" value="mine block (proof of stake v2)">
				</form>
			</div>
		</div>

		<div class="column_third">
			<div class="center">
				<p>add a new node:</p>
				<form method="post" action="/register_new_peer">
					<input type="text" name="address" placeholder="address"><br>
					<input type="submit" name="register_new_peer" value="register">
				</form>
			</div>
		</div>
	</div>

	<div id="blockchain" class="center">
		<p>hive activity</p>

		<div class="row">
			<div class="column_half">
				<form method="get" action="/">
					<input type="submit" name="update" value="update">
				</form>
			</div>

			<div class="column_half">
				<form method="get" action="/consensus">
					<input type="submit" name="consensus" value="sync">
				</form>
			</div>
		</div>

		<table style="width:100%">
			<tr>
				<th>block</th>
				<th>previous hash</th>
				<th>sender</th>
				<th>recipient</th>
				<th>amount</th>
				<th>validator</th>
				<th>stake</th>
				<th>timestamp</th>
			</tr>
			{% for transaction in transactions %}
			<tr>
				<td>{{ transaction.block_index }}</td>
				<td>{{ transaction.previous_hash }}</td>
				<td>{{ transaction.sender }}</td>
				<td>{{ transaction.recipient }}</td>
				<td>{{ transaction.amount }}</td>
				<td>{{ transaction.validator }}</td>
				<td>{{ transaction.stake }}</td>
				<td>{{ transaction.timestamp }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

</body>

<script src="/static/javascript/index.js"></script>

</html>
